/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.demo-oracle-icon {
  width:137px;
  height:18px
}

.demo-oracle-icon:before {
  content:url("images/oracle_logo.svg")
}

html:not([dir="rtl"]) .demo-oracle-icon {
  padding-right:4px
}

html[dir="rtl"] .demo-oracle-icon {
  padding-left:4px
}

.demo-oracle-icon:before {
  display:inline
}

.demo-appheader-avatar {
  width:24px;
  height:24px
}

.demo-appheader-avatar:before {
  content:url("images/avatar_24px.png")
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .demo-appheader-avatar:before {
      content:url("images/avatar_24px_2x.png");
      -webkit-transform:translate(-25%, -25%) scale(0.5);
      transform:translate(-25%, -25%) scale(0.5)
  }
}

/* CUSTOM STYLE */

.oj-web-applayout-page {
    background: #f1f1f3;    
    background-image: url("images/wallpaper.png");
}

.oj-web-applayout-header {
    background: #1d2733;
    border-bottom: 3px solid var(--oc-colors-main-fgLighter,#b5bbc2);    
}

.oj-web-applayout-header span {    
    color: white !important;
}

.oj-web-applayout-header h1 {    
    color: white !important;
}

.oj-web-applayout-header .oj-hover {    
    color: red !important;
}

.oj-web-applayout-footer {
    background-color: #fbfbfb;
    /*background: #1d2733;*/    
    border-top: 1px solid var(--oc-colors-main-fgLighter,#b5bbc2);      
}

/*
.oj-web-applayout-footer span {    
    color: white !important;
}

.oj-web-applayout-footer a {    
    color: white !important;
}
*/
    
.oj-panel {
    border: 1px solid var(--oc-colors-main-fgLighter,#b5bbc2);    
}

.oj-navigationlist-item.oj-selected {
    border-color: white;
}

.oj-web-applayout-header button:hover {
    background: #1d2733 !important;
}

.content-header-top {
    background-image: url("images/content-header-top-4.png");
    height: .3rem;
    border-radius: 6px 6px 0 0;
}

.custom-menu-item {
    font-size: 1.4em !important;
    padding: 5px
}

